@import "tailwindcss";

@theme {
	--breakpoint-tablet: 768px;
	--breakpoint-desktop: 1440px;

	--color-primary: #111;
	--color-white: #fff;
	--color-cream: #f5f0ec;
	--color-green: #1b5b31;
	--color-beige: #dcc1ab;

	--font-inter: "Inter", sans-serif;
	--font-montserrat: "Montserrat", sans-serif;

	--ease-smooth: cubic-bezier(.22, 1, .36, 1);
}

@layer components {
	.modal-overlay {
		@apply fixed inset-0 p-8 w-full h-full flex justify-center z-10 opacity-0 invisible pointer-events-none overflow-y-auto;
		background-color: rgb(46 47 66 / 0.4);
		transition:
			opacity .35s ease,
			visibility 0s linear .35s;
	}

	.modal-overlay.modal-open {
		@apply opacity-100 visible pointer-events-auto;
		transition:
			opacity .35s ease,
			visibility 0s;
	}

	.modal-container {
		@apply opacity-0 scale-95 translate-y-4 transition-all duration-450 ease-smooth;
	}

	.modal-overlay.modal-open .modal-container {
		@apply opacity-100 scale-100 translate-y-0;
	}

	.animation-underline::after {
		@apply content-[''] block absolute left-0 -bottom-1 w-full h-0.5 scale-x-0 origin-left bg-current transition-transform duration-300 ease-smooth
	}

	.animation-underline:hover::after,
	.animation-underline:focus::after {
		@apply scale-x-100
	}

	.hero-content {
		@apply opacity-100 translate-y-0 transition-all duration-350 ease-smooth;
	}

	.hero-image {
		@apply opacity-100 transition-opacity duration-350 ease-smooth;
	}

	#hero.is-changing .hero-content {
		@apply opacity-0 -translate-y-3;
	}

	#hero.is-changing .hero-image {
		@apply opacity-0;
	}

	.modal-image {
		@apply transition-opacity duration-300;
	}
}

@layer utilities {
	.animation-transition-default {
		transition:
			color 300ms cubic-bezier(.22, 1, .36, 1),
			fill 300ms cubic-bezier(.22, 1, .36, 1),
			background-color 300ms cubic-bezier(.22, 1, .36, 1),
			border-color 300ms cubic-bezier(.22, 1, .36, 1),
			opacity 300ms cubic-bezier(.22, 1, .36, 1),
			visibility 300ms cubic-bezier(.22, 1, .36, 1),
			transform 300ms cubic-bezier(.22, 1, .36, 1),
			box-shadow 300ms cubic-bezier(.22, 1, .36, 1);
	}

	.animation-hover-lift:hover,
	.animation-hover-lift:focus {
		@apply -translate-y-0.5 transition-transform;
	}

	.animation-active-press:active {
		@apply scale-[0.98] transition-transform;
	}

	.group:hover .animation-hover-icon {
		@apply scale-[1.08] transition-transform;
	}

	.animation-rotate {
		@apply translate-y-px rotate-360 transition-all duration-250 ease-smooth;
	}

	.anim-underline::after {
		@apply content-[''] absolute left-0 -bottom-1 w-full h-0.5 scale-x-0 origin-left bg-current
	}

	.anim-underline:hover::after,
	.anim-underline:focus::after {
		@apply scale-x-[1];
	}

	.animation-arrow-right,
	.animation-arrow-down,
	.animation-arrow-left {
		@apply transition-transform duration-300 ease-smooth;
	}

	.arrow-group:active .animation-arrow-right {
		@apply translate-x-1
	}

	.arrow-group:active .animation-arrow-left {
		@apply -translate-x-1;
	}

	.arrow-group:active .animation-arrow-down {
		@apply translate-y-1
	}

	.animation-appearing {
		@apply opacity-0 translate-y-6 transition-all duration-700 ease-smooth;

		will-change: opacity, transform;
	}

	.is-visible {
		@apply opacity-100 translate-0 scale-100
	}

	.animation-underline::after {
		@apply content-[''] block absolute left-0 -bottom-1 w-full h-0.5 scale-x-0 origin-left bg-current transition-transform duration-300 ease-smooth
	}

	.animation-underline:hover::after,
	.animation-underline:focus::after {
		@apply scale-x-100
	}

	.dropdown-content {
		@apply transition-all duration-500;
	}

	.dropdown-content.drop-open {
		@apply opacity-100 top-12 pointer-events-auto;
	}

	.offer-item {
		@apply transition-all duration-350 ease-smooth;
	}

	.offer-item:hover,
	.offer-item:focus {
		@apply -translate-y-2 transition-transform;
		box-shadow: 0 18px 40px rgb(0 0 0 / 12%);
	}

	.offer-item:active {
		@apply scale-[.985];
	}

	.modal-cross-button:hover,
	.modal-cross-button:focus {
		@apply -rotate-90 scale-108 transition-all;
	}
}



.details-icon,
.header-modal-details-icon {
	transition: transform 350ms cubic-bezier(.22, 1, .36, 1);
}

.details-icon.drop-open,
.header-modal-details-icon.drop-open,
.details-icon.drop-open,
.header-modal-details-icon.drop-openn {
	transform: translateY(1px) rotate(360deg);
}