<section class="relative py-8 bg-green desktop:py-[135px]" id="about"> <!-- about -->
	<div class="upper-container">
		<div
			class="about-image absolute top-0 left-0 w-full h-full bg-center bg-no-repeat bg-cover desktop:w-[calc(50%_-_32px)] after:content-[''] after:absolute after:inset-0 after:bg-primary/40 after:pointer-events-none desktop:after:bg-transparent">
		</div> <!-- about-image -->

		<div class="z-1 relative tablet:w-[596px] desktop:ml-auto"> <!-- about-content -->
			<p
				class="animation-appearing z-1 font-inter font-normal text-[12px] leading-normal tracking-[-0.01em] text-cream mb-4">
				O firmie
			</p> <!-- about-eyebrow -->
			<h2
				class="animation-appearing z-1 flex flex-col font-montserrat font-medium text-4xl leading-[1.15] tracking-[-0.03em] text-cream mb-10 h-[82px] desktop:h-[110px] desktop:text-5xl">
				Tworzymy z <em class="font-inter italic">pasją</em></h2>
			<!-- h2 about-heading, em about-heading-emphasized -->
			<p
				class="animation-appearing z-1 font-inter font-normal text-sm leading-normal tracking-[-0.01em] text-cream mb-16 tablet:w-[500px] desktop:mb-[72px] desktop:text-base">
				Każdy projekt to nowe wyzwanie. Dlatego nasz zespół tworzą wykwalifikowani projektanci
				oraz architekci, których zadaniem jest rozpoznanie i realizacja potrzeb każdego Klienta. Nasza specjalizacja
				to przestrzenie nowoczesne, które charakteryzuje minimalizm, geometria i elegancka prostota. Tworzymy ogrody
				małoobsługowe, dostosowane do współczesnego trybu życia.</p> <!-- about-info -->
			<a class="animation-transition-default animation-appearing arrow-group animation-hover-lift animation-active-press z-1 flex justify-center items-center gap-2 border border-cream rounded-[200px] h-[50px] font-normal text-sm leading-normal no-underline text-center text-cream tablet:w-[194px] desktop:text-base"
				href="#instagram"> <!-- about-link -->
				Poznaj nas bliżej
				<svg aria-label="hidden" class="animation-arrow-right fill-current w-4 h-4"> <!-- about-icon -->
					<use href="/icons/arrow-right.svg"></use>
				</svg>
			</a>
		</div>
	</div>
</section>