<footer class="bg-primary py-20"> <!-- footer-page -->
	<div class="lower-container">
		<div class="flex flex-col gap-[120px] tablet:items-center desktop:items-start"> <!-- footer-content -->
			<div class="flex flex-col gap-[62px] tablet:w-full"> <!-- footer-contact -->
				<div
					class="flex flex-col justify-between items-center gap-[62px] tablet:items-start desktop:flex-row desktop:justify-between desktop:items-center">
					<!-- footer-contact-1 -->
					<a class="animation-appearing flex" href="./index.html"> <!-- footer-logo -->
						<svg aria-label="hidden" class="fill-cream w-[114px] h-[19px]"> <!-- footer-logo-icon -->
							<use href="/icons/giarddesign.svg"></use>
						</svg>
					</a>

					<div
						class="flex flex-col items-center gap-8 w-full tablet:flex-row tablet:justify-between desktop:justify-end desktop:gap-6 desktop:w-auto">
						<!-- footer-action -->
						<p
							class="animation-appearing font-inter font-normal text-sm leading-normal tracking-[-0.01em] text-cream desktop:text-base">
							Daj
							znać, co możemy
							dla Ciebie zrobić!</p> <!-- footer-action-text -->
						<button type="button" aria-label="Open contact application"
							class="footer-action-button animation-appearing animation-transition-default animation-hover-lift animation-active-press flex justify-center items-center border-0 rounded-[200px] w-full h-[50px] bg-green font-inter font-normal text-sm leading-normal text-center text-cream cursor-pointer tablet:w-[208px] desktop:text-base">Skontaktuj
							się z nami</button>
					</div>
				</div>

				<hr class="border-0 border-b border-b-cream -mt-[1px] h-[1px]" /> <!-- horizontal-rule -->

				<div class="flex flex-col gap-8 tablet:flex-row tablet:justify-between"> <!-- footer-contact-2 -->
					<nav class=""> <!-- footer-nav -->
						<ul class="flex flex-col gap-8 tablet:flex-row desktop:gap-12"> <!-- footer-nav-list -->
							<li class="animation-appearing relative text-center h-[21px]"> <!-- footer-nav-item -->
								<a class="footer-nav-link font-inter font-normal text-sm leading-normal tracking-[-0.01em] no-underline text-cream"
									href="#contact" target="_blank" rel="noopener noreferrer">Kontakt</a> <!-- footer-nav-link -->
							</li>
							<li class="animation-appearing relative text-center h-[21px]"> <!-- footer-nav-item -->
								<a class="footer-nav-link font-inter font-normal text-sm leading-normal tracking-[-0.01em] no-underline text-cream"
									href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">Instagram</a>
								<!-- footer-nav-link -->
							</li>
							<li class="animation-appearing relative text-center h-[21px]"> <!-- footer-nav-item -->
								<a class="footer-nav-link font-inter font-normal text-sm leading-normal tracking-[-0.01em] no-underline text-cream"
									href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">Facebook</a>
								<!-- footer-nav-link -->
							</li>
							<li class="animation-appearing relative text-center h-[21px]"> <!-- footer-nav-item -->
								<a class="footer-nav-link font-inter font-normal text-sm leading-normal tracking-[-0.01em] no-underline text-cream"
									href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">LinkedIn</a>
								<!-- footer-nav-link -->
							</li>
						</ul>
					</nav>

					<address class="text-center"> <!-- footer-address -->
						<ul class="flex flex-col gap-8 tablet:flex-row desktop:gap-12"> <!-- footer-address-list -->
							<li class="animation-appearing h-[21px]"> <!-- footer-address-item -->
								<a class="footer-address-item relative font-inter font-normal text-sm leading-normal tracking-[-0.01em] no-underline text-cream not-italic"
									href="tel:000000000">000-000-000</a> <!-- footer-address-link -->
							</li>
							<li class="animation-appearing h-[21px]"> <!-- footer-address-item -->
								<a class="footer-address-item relative font-inter font-normal text-sm leading-normal tracking-[-0.01em] no-underline text-cream not-italic"
									href="mailto:giarddesign@kontakt.pl">giarddesign@kontakt.pl</a> <!-- footer-address-link -->
							</li>
						</ul>
					</address>
				</div>
			</div>

			<div class="flex flex-col justify-center gap-8 tablet:flex-row tablet:justify-between tablet:w-full">
				<!-- footer-copyright -->
				<p
					class="animation-appearing font-inter font-normal text-sm leading-normal tracking-[-0.01em] text-cream text-center desktop:text-base">
					Prawa
					zastrzeżone ©
					2022</p> <!-- footer-copyright-text -->
				<p
					class="animation-appearing flex justify-center items-center gap-4 font-inter font-normal text-sm tracking-[-0.01em] text-cream tablet:w-auto desktop:text-base">
					<!-- footer-adrespect -->
					made by
					<a href="https://www.adrespect.pl" target="_blank" rel="noopener noreferrer">
						<svg aria-label="adRespect icon" class="w-[113px] h-[23px]"> <!-- footer-adrespect-icon -->
							<use href="/icons/adRespect.svg"></use>
						</svg>
					</a>
				</p>
			</div>
		</div>
	</div>
</footer>