<section class="py-15 bg-cream" id="instagram"> <!-- instagram -->
	<div class="lower-container">
		<div
			class="flex flex-col gap-[96px] py-16 px-8 bg-green tablet:p-16 desktop:flex-row desktop:justify-between desktop:py-[120px] desktop:px-[110px]">
			<!-- instagram-wraper -->
			<h2
				class="animation-appearing flex flex-col font-montserrat font-normal text-[32px] leading-[1.2] tracking-[-0.05em] text-cream tablet:text-nowrap tablet:min-h-auto tablet:h-[76px] desktop:h-[96px] desktop:self-end desktop:text-[40px]">
				Zostańmy w kontakcie! <span>Znajdziesz nas na <em
						class="font-inter italic font-medium tracking-[0.03em]">Instagramie.</em></span></h2>
			<!-- h2 instagram-heading, em instagram-heading-emphasized -->

			<div class="flex flex-col gap-6 w-full"> <!-- instagram-reference -->
				<p
					class="animation-appearing font-inter font-normal text-sm leading-normal tracking-[-0.01em] text-cream tablet:text-left desktop:text-base">
					Śledź nasze najnowsze realizacje!</p> <!-- instagram-reference-text -->
				<a class="flex animation-appearing animation-transition-default animation-hover-lift animation-active-press justify-center items-center rounded-[200px] w-full h-[46px] bg-cream font-inter font-normal text-sm leading-normal text-center no-underline text-green tablet:w-[124px] desktop:text-base"
					href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">Instagram</a>
				<!-- instagram-reference-link -->
			</div>
		</div>
	</div>
</section>