<section class="bg-cream py-16 desktop:pt-[120px] desktop:pb-[160px]" id="offer"> <!-- offer -->
	<div class="upper-container">
		<div class="mx-auto mb-[64px] desktop:w-[1040px] desktop:mb-[96px]"> <!-- offer-info -->
			<p
				class="animation-appearing font-inter font-normal text-[12px] leading-normal tracking-[-0.01em] text-green mb-4">
				Oferta</p>
			<!-- offer-eyebrow -->
			<h2
				class="font-montserrat animation-appearing font-medium text-4xl leading-[1.15] tracking-[-0.03em] text-primary mb-4 h-[82px] desktop:h-[55px] desktop:mb-8 desktop:text-5xl">
				Działamy <em class="font-inter italic">kompleksowo</em></h2>
			<!-- h2 offfer-heading, em offer-heading-emphasized -->
			<p
				class="animation-appearing font-inter font-normal text-sm leading-normal tracking-[-0.01em] text-primary tablet:w-[709px] desktop:text-base">
				Oferujemy kompletną obsługę inwestycji terenów zielonych. Projektujemy nowoczesne ogrody
				przydomowe oraz rezydencjonalne. Stworzymy dla Ciebie projekt, zwizualizujemy go i wcielimy w życie, a na
				każdym etapie posłużymy i wieloletnim doświadczeniem.</p> <!-- offer-desc -->
		</div>

		<ul class="flex flex-col gap-10 tablet:items-center desktop:flex-row"> <!-- offer-list -->
			<li data-number="0" class="offer-item group animation-appearing flex flex-col w-full rounded-[28px] py-12
						px-10 bg-white cursor-pointer desktop:w-[378px]">
				<!-- offer-item group -->
				<svg aria-label="hidden" class="animation-hover-icon animation-transition-default w-11 h-11 mb-8">
					<!-- offer-icon-1 -->
					<use href="/icons/pencil.svg"></use>
				</svg>

				<h3
					class="group-hover:text-green font-montserrat font-medium text-[28px] leading-[1.15] tracking-[-0.05em] text-primary mb-3 h-8 transition-colors duration-300">
					Projekty</h3> <!-- offer-item-heading -->
				<p
					class="font-inter font-normal text-sm leading-normal tracking-[-0.01em] text-primary mb-12 desktop:mb-[63px]">
					Zaprojektujemy Twój ogród w nowoczesnym stylu i z najlepszym wykorzystaniem
					istniejącej przestrzeni.</p> <!-- offer-item-desc -->

				<button aria-label="Open offer modal"
					class="offer-item-button arrow-group animation-transition-default animation-hover-lift animation-active-press flex items-center gap-[10px] w-fit h-7 border-0 border-b bg-transparent font-inter font-normal text-sm leading-normal text-center no-underline text-green cursor-pointer desktop:text-base"
					type="button">
					Dowiedz się więcej
					<svg aria-label="hidden" class="animation-arrow-right fill-current w-4 h-4">
						<!-- offer-item-button-icon -->
						<use href="/icons/arrow-right.svg"></use>
					</svg>
				</button>
			</li>
			<li data-number="1"
				class="offer-item group animation-appearing flex flex-col w-full rounded-[28px] py-12 px-10 bg-white cursor-pointer desktop:w-[378px]">
				<svg aria-label="hidden" class="animation-hover-icon animation-transition-default w-12 h-11 mb-8">
					<!-- offer-icon-2 -->
					<use href="/icons/eye.svg"></use>
				</svg>

				<h3
					class="group-hover:text-green font-montserrat font-medium text-[28px] leading-[1.15] tracking-[-0.05em] text-primary mb-3 h-8 hover:text-green transition-colors duration-300">
					Wizualizacje</h3>
				<p
					class="font-inter font-normal text-sm leading-normal tracking-[-0.01em] text-primary mb-12 desktop:mb-[63px]">
					Przedstawimy Ci projekty koncepcyjne  w postaci wirtualnego spaceru animowanego w
					technologii 3D.</p>

				<button aria-label="Open offer modal"
					class="offer-item-button arrow-group animation-transition-default animation-hover-lift animation-active-press flex items-center gap-[10px] w-fit h-7 border-0 border-b bg-transparent font-inter font-normal text-sm leading-normal text-center no-underline text-green cursor-pointer desktop:text-base"
					type="button">
					Dowiedz się więcej
					<svg aria-label="hidden" class="animation-arrow-right fill-current w-4 h-4">
						<use href="/icons/arrow-right.svg"></use>
					</svg>
				</button>
			</li>
			<li data-number="2"
				class="offer-item group animation-appearing flex flex-col w-full rounded-[28px] py-12 px-10 bg-white cursor-pointer desktop:w-[378px]">
				<svg aria-label="hidden" class="animation-hover-icon animation-transition-default w-11 h-11 mb-8">
					<!-- offer-icon-3 -->
					<use href="/icons/shine.svg"></use>
				</svg>

				<h3
					class="group-hover:text-green font-montserrat font-medium text-[28px] leading-[1.15] tracking-[-0.05em] text-primary mb-3 h-8 hover:text-green transition-colors duration-300">
					Realizacje</h3>
				<p
					class="font-inter font-normal text-sm leading-normal tracking-[-0.01em] text-primary mb-12 desktop:mb-[63px]">
					Zrealizujemy Twoje marzenie przy użyciu najnowszych rozwiązań i zaawansowanych
					technologii.</p>

				<button aria-label="Open offer modal"
					class="offer-item-button arrow-group animation-transition-default animation-hover-lift animation-active-press flex items-center gap-[10px] w-fit h-7 border-0 border-b bg-transparent font-inter font-normal text-sm leading-normal text-center no-underline text-green cursor-pointer desktop:text-base"
					type="button">
					Dowiedz się więcej
					<svg aria-label="hidden" class="animation-arrow-right fill-current w-4 h-4">
						<use href="/icons/arrow-right.svg"></use>
					</svg>
				</button>
			</li>
		</ul>
	</div>
</section>