* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@media (min-width: 320px) {
	body {
		overflow-x: hidden;
	}
}

ul {
	list-style: none;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
}

button {
	cursor: pointer;
}

.header-page {}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 24px 89px;
}

.logo {
	display: flex;
}

.logo-icon {
	width: 114px;
	height: 19px;
}

.header-nav-items {
	display: flex;
	gap: 48px;
}

.header-nav-links {
	display: flex;
	align-items: center;
	gap: 48px;
}

.header-nav-item {}

.header-nav-link {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #111;

	text-decoration: none;
}

.details {
	display: flex;
	align-items: center;
	gap: 5px;
}

.details-icon {
	width: 12px;
	height: 12px;
}

.search-button {
	background: transparent;
	border: none;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 24px;
	height: 24px;
}

.search-icon {
	width: inherit;
	height: inherit;
}

.hero {
	position: relative;
	padding-block: 144.5px;

	background: #dcc1ab;
}

.hero-container {
	padding-inline: 89px;
}

.hero-content {
	width: 599px;
}

.hero-heading {
	display: flex;
	flex-direction: column;

	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 60px;
	line-height: 1.16667;
	color: #111;

	margin-bottom: 44px;
}

.hero-info {
	width: 489px;

	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #111;

	margin-bottom: 72px;
}

.hero-list {
	display: flex;
	gap: 36px;
}

.hero-item-1 {
	display: flex;
	justify-content: center;
	align-items: center;

	background: #1b5b31;
	border-radius: 200px;
	width: 208px;
	height: 50px;
	
	cursor: pointer;
}

.hero-item-2 {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid #1b5b31;
	border-radius: 200px;
	width: 249px;
	height: 50px;
	
	cursor: pointer;
}

.hero-link-1 {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	color: #f5f0ec;

	text-decoration: none;
}

.hero-link-2 {
	display: flex;
	align-items: center;
	gap: 8px;

	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	color: #1b5b31;

	text-decoration: none;
}

.details-icon {
	width: 16px;
	height: 16px;
}

.hero-image {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(50% - 32px);
	height: 100%;

	background-image: url("/hero-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-image-buttons {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 24px 32px;

	display: flex;
	gap: 32px;

	background: #f5f0ec;
}

.hero-image-button {
	background: transparent;
	border: none;

	display: flex;
}

.arrow-slide {
	width: 48px;
	height: 48px;
}

.offer {
	background: #f5f0ec;
	padding-block: 120px;
}

.offer-container {
	padding-inline: 89px;
}

.offer-info {
	width: 1040px;
	margin-inline: auto;
	margin-bottom: 96px;
}

.offer-eyebrow {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #1b5b31;

	margin-bottom: 16px;
}

.offfer-heading {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 48px;
	line-height: 1.15;
	letter-spacing: -0.03em;
	color: #111;

	margin-bottom: 32px;
}

.offer-heading-emphasized {
	font-family: "Inter", sans-serif;
	font-style: italic;
}

.offer-desc {
	width: 709px;

	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #111;
}

.offer-list {
	display: flex;
	gap: 64px;
}

.offer-item {
	display: flex;
	flex-direction: column;

	width: 378px;

	border-radius: 28px;
	padding: 48px 40px;

	background: #fff;
}

.offer-icon-1 {
	width: 44px;
	height: 44px;

	margin-bottom: 32px;
}

.offer-icon-2 {
	width: 48px;
	height: 44px;

	margin-bottom: 32px;
}

.offer-icon-3 {
	width: 44px;
	height: 44px;

	margin-bottom: 32px;
}

.offer-item-heading {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 28px;
	line-height: 1.15;
	letter-spacing: -0.05em;
	color: #111;

	margin-bottom: 12px;
}

.offer-item-desc {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #111;

	margin-bottom: 63px;
}

.offer-item-link {
	display: flex;
	align-items: center;
	gap: 10px;

	width: fit-content;
	height: 28px;

	border-bottom: 1px solid;

	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	color: #1b5b31;
}

.offer-item-link-icon {
	width: 16px;
	height: 16px;
}

.about {
	position: relative;
	padding-block: 135px;

	background: #1b5b31;
}

.about-container {
	padding-inline: 92px;
	display: flex;
	justify-content: flex-end;
}

.about-image {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(50% - 32px);
	height: 100%;

	background-image: url("/about-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about-content {
	width: 596px;
	padding-left: 96px;
}

.about-eyebrow {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #f5f0ec;

	margin-bottom: 16px;
}

.about-heading {
	display: flex;
	flex-direction: column;

	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 48px;
	line-height: 1.15;
	letter-spacing: -0.03em;
	color: #f5f0ec;

	margin-bottom: 40px;
}

.about-heading-emphasized {
	font-family: "Inter", sans-serif;
	font-style: italic;
}

.about-info {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #f5f0ec;

	margin-bottom: 72px;
}

.about-link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	border: 1px solid #f5f0ec;
	border-radius: 200px;
	width: 194px;
	height: 50px;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	color: #f5f0ec;
}

.about-icon {
	stroke: currentColor;
	width: 16px;
	height: 16px;
}