@import "tailwindcss";

@theme {
	--breakpoint-tablet: 768px;
	--breakpoint-desktop: 1440px;

	--color-primary: #111;
	--color-white: #fff;
	--color-cream: #f5f0ec;
	--color-green: #1b5b31;
	--color-beige: #dcc1ab;

	--font-inter: "Inter", sans-serif;
	--font-montserrat: "Montserrat", sans-serif;
}

@layer utilities {
	.default-text {
		font-family: "Inter", sans-serif;
		font-weight: 400;
		line-height: 1.5;
		letter-spacing: -0.01em;
	}
}

html {
	scroll-behavior: smooth;
}

body.body-not-scroll {
	overflow: hidden;
}

.upper-container {
	margin-inline: auto;
	padding-inline: 20px;
	min-width: 320px;
	max-width: 375px;
}

.lower-container {
	margin-inline: auto;
	padding-inline: 20px;
	min-width: 320px;
	max-width: 375px;
}

@media (min-width: 768px) {
	.upper-container {
		padding-inline: 32px;
		max-width: 768px;
	}

	.lower-container {
		max-width: 704px;
		padding-inline: 0;
	}
}

@media (min-width: 1440px) {
	.upper-container {
		padding-inline: 89px;
		max-width: 1440px;
	}

	.lower-container {
		max-width: 1040px;
	}
}

.search-form.search-open {
	z-index: 1;
}

.search-input.search-open {
	padding: 0;
	width: 0;
	border: 0px solid transparent;
	pointer-events: none;
}

.search-button.search-open {
	right: -40px;
}

@media (min-width: 768px) {
	.search-button.search-open {
		right: 0px;
	}
}

.search-icon.search-open {
	fill: black;
	transition-delay: 0.3s;
}

.search-cross.search-open .search-cross-1,
.search-cross.search-open .search-cross-2 {
	background: black;
	transition-delay: 0.3s;
}

.burger-menu.open-my-burger .burger-menu-1 {
	top: 50%;
	transform: rotate(45deg);
}

.burger-menu.open-my-burger .burger-menu-2 {
	opacity: 0;
}

.burger-menu.open-my-burger .burger-menu-3 {
	top: 50%;
	transform: rotate(-45deg);
}

.header-modal-overlay.header-modal-open {
	left: 0;
}

.hero-image.image-0 {
	background-image: url("/background/hero-background-0.webp");
}

.hero-image.image-1 {
	background-image: url("/background/hero-background-1.webp");
}

.hero-image.image-2 {
	background-image: url("/background/hero-background-2.webp");
}

@media (min-resolution: 192dpi) {
	.hero-image.image-0 {
		background-image: url("/background/hero-background-0@2x.webp");
	}

	.hero-image.image-1 {
		background-image: url("/background/hero-background-1@2x.webp");
	}

	.hero-image.image-2 {
		background-image: url("/background/hero-background-2@2x.webp");
	}
}

.about-image {
	background-image: url("/background/about-background.webp");
}

@media (min-resolution: 192dpi) {
	.about-image {
		background-image: url("/background/about-background@2x.webp");
	}
}

.glightbox-container .gslide-image img {
	width: 1000px;
	height: 80vh;
	object-fit: cover;
}

.projects-gallery-wrapper.gradient::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1000px;
	background: linear-gradient(360deg, #dcc1ab 0%, rgba(214, 183, 158, 0) 100%);
	pointer-events: none;
}

.projects-gallery-sizer,
.projects-gallery-item {
	width: 320px;
}

@media (min-width: 768px) {

	.projects-gallery-sizer,
	.projects-gallery-item {
		width: 363px;
	}
}

@media (min-width: 1440px) {

	.projects-gallery-sizer,
	.projects-gallery-item {
		width: 452px;
	}
}

.projects-gallery-item {
	margin-bottom: 42px;
}

.projects-gallery-item:nth-last-child(-n+1) {
	margin-bottom: 0px;
}

@media (min-width: 768px) {
	.projects-gallery-item:nth-last-child(-n+2) {
		margin-bottom: 0px;
	}
}

@media (min-width: 1440px) {
	.projects-gallery-item:nth-last-child(-n+3) {
		margin-bottom: 0px;
	}
}

.projects-gallery-item-small {
	height: 338px;
}

.projects-gallery-item-medium {
	height: 452px;
}

.projects-gallery-item-large {
	height: 601px;
}

@media (min-width: 768px) and (max-width: 1440px) {
	.projects-gallery-item-large {
		height: 832px;
	}
}

.modal-overlay.modal-open,
.modal-form-overlay.modal-open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.modal-form-error.error-displayed {
	display: block;
}






.projects-gallery-wrapper {
	overflow: hidden;
	transition: height .6s cubic-bezier(.22, 1, .36, 1);

}

.projects-gallery {
	/* height: 1000px !important; */
}