* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@media (min-width: 320px) {
	body {
		overflow-x: hidden;
	}
}

ul {
	list-style: none;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
}

button {
	cursor: pointer;
}

.header-page {}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 24px 89px;
}

.logo {
	display: flex;
}

.logo-icon {
	fill: #111;
	width: 114px;
	height: 19px;
}

.header-nav-items {
	display: flex;
	gap: 48px;
}

.header-nav-links {
	display: flex;
	align-items: center;
	gap: 48px;
}

.header-nav-item {}

.header-nav-link {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #111;

	text-decoration: none;
}

.details {
	display: flex;
	align-items: center;
	gap: 5px;
}

.details-icon {
	width: 12px;
	height: 12px;
}

.search-button {
	background: transparent;
	border: none;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 24px;
	height: 24px;
}

.search-icon {
	width: inherit;
	height: inherit;
}

.hero {
	position: relative;
	padding-block: 144.5px;

	background: #dcc1ab;
}

.hero-container {
	padding-inline: 89px;
}

.hero-content {
	width: 599px;
}

.hero-heading {
	display: flex;
	flex-direction: column;

	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 60px;
	line-height: 1.16667;
	color: #111;

	margin-bottom: 44px;
}

.hero-info {
	width: 489px;

	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #111;

	margin-bottom: 72px;
}

.hero-list {
	display: flex;
	gap: 36px;
}

.hero-item-1 {
	display: flex;
	justify-content: center;
	align-items: center;

	background: #1b5b31;
	border-radius: 200px;
	width: 208px;
	height: 50px;
	
	cursor: pointer;
}

.hero-item-2 {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid #1b5b31;
	border-radius: 200px;
	width: 249px;
	height: 50px;
	
	cursor: pointer;
}

.hero-link-1 {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	color: #f5f0ec;

	text-decoration: none;
}

.hero-link-2 {
	display: flex;
	align-items: center;
	gap: 8px;

	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	color: #1b5b31;

	text-decoration: none;
}

.details-icon {
	width: 16px;
	height: 16px;
}

.hero-image {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(50% - 32px);
	height: 100%;

	background-image: url("/hero-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-image-buttons {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 24px 32px;

	display: flex;
	gap: 32px;

	background: #f5f0ec;
}

.hero-image-button {
	background: transparent;
	border: none;

	display: flex;
}

.arrow-slide {
	width: 48px;
	height: 48px;
}

.offer {
	background: #f5f0ec;
	padding-block: 120px;
}

.offer-container {
	padding-inline: 89px;
}

.offer-info {
	width: 1040px;
	margin-inline: auto;
	margin-bottom: 96px;
}

.offer-eyebrow {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #1b5b31;

	margin-bottom: 16px;
}

.offfer-heading {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 48px;
	line-height: 1.15;
	letter-spacing: -0.03em;
	color: #111;

	margin-bottom: 32px;
}

.offer-heading-emphasized {
	font-family: "Inter", sans-serif;
	font-style: italic;
}

.offer-desc {
	width: 709px;

	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #111;
}

.offer-list {
	display: flex;
	gap: 64px;
}

.offer-item {
	display: flex;
	flex-direction: column;

	width: 378px;

	border-radius: 28px;
	padding: 48px 40px;

	background: #fff;
}

.offer-icon-1 {
	width: 44px;
	height: 44px;

	margin-bottom: 32px;
}

.offer-icon-2 {
	width: 48px;
	height: 44px;

	margin-bottom: 32px;
}

.offer-icon-3 {
	width: 44px;
	height: 44px;

	margin-bottom: 32px;
}

.offer-item-heading {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 28px;
	line-height: 1.15;
	letter-spacing: -0.05em;
	color: #111;

	margin-bottom: 12px;
}

.offer-item-desc {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #111;

	margin-bottom: 63px;
}

.offer-item-link {
	display: flex;
	align-items: center;
	gap: 10px;

	width: fit-content;
	height: 28px;

	border-bottom: 1px solid;

	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	color: #1b5b31;
}

.offer-item-link-icon {
	width: 16px;
	height: 16px;
}

.about {
	position: relative;
	padding-block: 135px;

	background: #1b5b31;
}

.about-container {
	padding-inline: 92px;
	display: flex;
	justify-content: flex-end;
}

.about-image {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(50% - 32px);
	height: 100%;

	background-image: url("/about-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about-content {
	width: 596px;
	padding-left: 96px;
}

.about-eyebrow {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #f5f0ec;

	margin-bottom: 16px;
}

.about-heading {
	display: flex;
	flex-direction: column;

	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 48px;
	line-height: 1.15;
	letter-spacing: -0.03em;
	color: #f5f0ec;

	margin-bottom: 40px;
}

.about-heading-emphasized {
	font-family: "Inter", sans-serif;
	font-style: italic;
}

.about-info {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #f5f0ec;

	margin-bottom: 72px;
}

.about-link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	border: 1px solid #f5f0ec;
	border-radius: 200px;
	width: 194px;
	height: 50px;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	color: #f5f0ec;
}

.about-icon {
	fill: currentColor;
	width: 16px;
	height: 16px;
}

.projects {
	position: relative;
	background: #dcc1ab;
	padding-top: 120px;
}

.projects-container {
	display: flex;
	flex-direction: column;
	gap: 96px;
}

.projects-text {
	padding-inline: 160px;
}

.projects-eyebrow {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #1b5b31;

	margin-bottom: 16px;
}

.projects-heading {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 48px;
	line-height: 1.15;
	letter-spacing: -0.03em;
	color: #111;
}

.projects-heading-emphasized {
	font-family: "Inter", sans-serif;
	font-style: italic;
}

.projects-gradient {
	position: absolute;
	z-index: 1;
	bottom: 0;

	display: flex;
	justify-content: center;
	align-items: flex-end;

	width: 100%;
	height: 1000px;
	margin-bottom: 42px;
	background: linear-gradient(360deg, #dcc1ab 0%, rgba(214, 183, 158, 0) 100%);
}

.projects-gradient-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	border: 1px solid #111;
	border-radius: 200px;
	width: 123px;
	height: 50px;
	background: transparent;

	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	color: #111;
}

.projects-gradient-icon {
	fill: currentColor;
	width: 16px;
	height: 16px;
}

.projects-gallery {}

.projects-gallery-sizer,
.projects-gallery-item {
	width: 452px;
}

.projects-gallery-item {
	margin-bottom: 42px;
}

.projects-gallery-item-small {
	height: 338px;
}

.projects-gallery-item-medium {
	height: 452px;
}

.projects-gallery-item-large {
	height: 601px;
}

.projects-gallery-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.instagram {
	padding-block: 60px;
	background: #f5f0ec;
}

.instagram-container {
	padding-inline: 200px;
}

.instagram-wraper {
	display: flex;
	align-items: flex-end;
	gap: 64px;

	padding: 120px 110px;
	background: #1b5b31;
}

.instagram-heading {
	display: flex;
	flex-direction: column;

	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: -0.05em;
	color: #f5f0ec;
}

.instagram-heading-emphasized {
	font-family: "Inter", sans-serif;
	font-style: italic;
	font-weight: 500;
	letter-spacing: 0.03em;
}

.instagram-reference {
	display: flex;
	flex-direction: column;
	gap: 24px;

	width: 157px;
}

.instagram-reference-text {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #f5f0ec;
}

.instagram-reference-link {
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 200px;
	width: 124px;
	height: 46px;
	background: #f5f0ec;

	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	color: #1b5b31;
}

.footer-page {
	background: #111;
	padding-block: 80px;
}

.footer-container {
	display: flex;
	flex-direction: column;
	gap: 120px;

	padding-inline: 200px;
}

.footer-contact {
	display: flex;
	flex-direction: column;
	gap: 62px;
}

.footer-contact-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logo {
	display: flex;
}

.footer-logo-icon {
	fill: #f5f0ec;
	width: 114px;
	height: 19px;
}

.footer-action {
	display: flex;
	align-items: center;
	gap: 24px;
}

.footer-action-text {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #f5f0ec;
}

.footer-action-link {
	display: flex;
	align-items: center;
	justify-content: center;
	
	border-radius: 200px;
	width: 208px;
	height: 50px;
	background: #1b5b31;

	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	color: #f5f0ec;
}

.horizontal-rule {
	border: none;
	border-bottom: 1px solid #f5f0ec;
}

.footer-contact-2 {
	display: flex;
	justify-content: space-between;
}

.footer-nav {}

.footer-nav-list {
	display: flex;
	gap: 48px;
}

.footer-nav-item {}

.footer-nav-link {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	text-decoration: none;
	color: #f5f0ec;
}

.footer-address {}

.footer-address-list {
	display: flex;
	gap: 48px;
}

.footer-address-item {}

.footer-address-link {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 14px;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: -0.01em;
	text-decoration: none;
	color: #f5f0ec;
}

.footer-copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-copyright-text {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #f5f0ec;
}

.footer-adrespect {
	display: flex;
	align-items: center;
	gap: 16px;

	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #f5f0ec;
}

.footer-adrespect-icon {
	width: 113px;
	height: 23px;
}